<section style="position: absolute; bottom: 0; line-height: 60px;">
    <a asp-controller="Home" asp-action="Terms">Terms of Use</a> and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
</section>