@{
    ViewData["Title"] = "Terms of Use";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="lead">Work in Progress - @ViewData["Title"]</p>
    </div>
</div>
